@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/**
 * *********************
 * Embla Carousel Styles
 * *********************
 */

:root {
	--slide-spacing: 1rem;
	--slide-size: 50%;
}

@media (max-width: 640px) {
	:root {
		--slide-spacing: 0rem;
		--slide-size: 1%;
	}
}
